body.hide-ui > *:not(#logo):not(#board):not(#confetti-canvas):not(#dice-box-canvas):not(#pause):not(#sidebar):not(#notifications):not(#loading):not(#narrator):not(#combat-popout):not(.image-popout):not(.journal-sheet):not(.journal-attached),
body.hide-ui #sidebar > *:not(.sidebar-tab[data-tab="chat"]),
body.hide-ui #sidebar .sidebar-tab[data-tab="chat"] > *:not(#chat-log),
body.hide-ui .image-popout > *:not(.window-content){
    display: none !important;
}

body.hide-ui #combat-popout header,
body.hide-ui #combat-popout .sidebar-tab header,
body.hide-ui #combat-popout .sidebar-tab nav,
body.hide-ui #combat-popout .sidebar-tab .combatant:not(.active) {
    display: none !important;
}

body.hide-ui #combat-popout {
    top: 2px !important;
    height: 70px !important;
    min-height: 70px !important;
}

body.hide-ui #combat-popout .sidebar-tab .combatant.active{
    margin-top:3px;
}

body.hide-ui #combat-popout .sidebar-tab .combatant.active > *:not(.token-image):not(.token-name):not(.ce-image-wrapper) {
    display: none !important;
}

body.hide-ui #combat-popout .sidebar-tab .combatant.active .token-name > *:not(h4) {
    display: none !important;
}

body.hide-ui #logo {
    opacity: 0.5;
}
